<?xml version="1.0" encoding="utf-8"?>
<!-- Debug/test builds only: allow plain HTTP to the in-device fake AI server used by instrumented tests. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:networkSecurityConfig="@xml/network_security_config_debug" />
</manifest>
